<div class="container mt-5">
    <div class="card mb-5">
      <div class="card-body">
        <article class="col-12 row">
          <div class="col-4" style="display:flex;flex-direction:column;align-items: center;">
            <h1>Recipe 1</h1>
            <button class="btn btn-outline-danger">REMOVE</button>
          </div>
          <div class="col-8">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti quis veritatis quisquam distinctio perferendis harum eligendi? Placeat doloremque at, enim magnam, perspiciatis nihil reiciendis libero necessitatibus, deserunt quas similique aut?
            </p>
          </div>
        </article>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-body">
        <article class="col-12 row">
          <div class="col-4" style="display:flex;flex-direction:column;align-items: center;">
            <h1>Recipe 2</h1>
            <button class="btn btn-outline-danger">REMOVE</button>
          </div>
          <div class="col-8">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti quis veritatis quisquam distinctio perferendis harum eligendi? Placeat doloremque at, enim magnam, perspiciatis nihil reiciendis libero necessitatibus, deserunt quas similique aut?
            </p>
          </div>
        </article>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-body">
        <article class="col-12 row">
          <div class="col-4" style="display:flex;flex-direction:column;align-items: center;">
            <h1>Recipe 3</h1>
            <button class="btn btn-outline-danger">REMOVE</button>
          </div>
          <div class="col-8">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti quis veritatis quisquam distinctio perferendis harum eligendi? Placeat doloremque at, enim magnam, perspiciatis nihil reiciendis libero necessitatibus, deserunt quas similique aut?
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>