<main class="container mt-3">
    <div class="card">
      <div class="card-header">
        <div class="col-12">
          <a href="#" class="btn btn-primary mb-3 float-end">Add food</a>
        </div>
      </div>
      <div class="card-body">
        
          <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
              <tr>
                <th>Food</th>
                <th>Measurement unit</th>
                <th>Unit price</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Food</th>
                <th>Measurement unit</th>
                <th>Unit price</th>
                <th><button class="btn btn-link">Delete</button></th>
              </tr>
              <tr>
                <th>Food</th>
                <th>Measurement unit</th>
                <th>Unit price</th>
                <th><button class="btn btn-link">Delete</button></th>
              </tr>
              <tr>
                <th>Food</th>
                <th>Measurement unit</th>
                <th>Unit price</th>
                <th><button class="btn btn-link">Delete</button></th>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </main>