<div class="container mt-5">
    <div class="col-12 text-center">
      <h1 class="text text-primary">Shopping List</h1>
    </div>
    <div class="card mb-5">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-5 mt-3">
          <label class="text text-primary">Amount of food items to buy: 3</label>
          <label class="text text-primary">Total value of food needed: $846</label>
        </div>
        <div>
          <table class="table table-bordered table-hover">
            <thead class="table-primary">
              <tr>
                <th>Food</th>
                <th>Quantity</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Apple</th>
                <th>150 grams</th>
                <th>$45</th>
              </tr>
              <tr>
                <th>Pineapple</th>
                <th>45 grams</th>
                <th>$457</th>
              </tr>
              <tr>
                <th>Chicken Breasts</th>
                <th>12 grams</th>
                <th>$512</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>